services:
  db:
    image: postgres:17
    environment:
      - TZ=Asia/Tokyo
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - type: volume
        source: simple_memo_app_db_data
        target: /var/lib/postgresql/data
    env_file:
      - .env

volumes:
  simple_memo_app_db_data:
    driver: local